body {
  font-size:15px;
}

ul.tags { 
  font-size:20px; 
  line-height:1em;
  margin-bottom:5px;
  list-style-type:none;
}

li.tag {
  display:inline;
  margin-right:10px;
}

a.tag:active, a.tag:visited, a.tag:link {
  color:#000;
  text-decoration:none;
}

a.tag:hover {
  color:#4d4d4d;
}

a:link, a:visited, a:active {
  color:#000;
  /* color:#333;*/
}

.info {
  display:inline-block;
  font-size:12px;
  line-height:20px;
  height:20px;
}

a.delete {
  color:#fff;
  text-decoration:none;
  border-radius:10px;
  padding:0 5px 0 5px;
  background-color:#000;
}

a.delete:hover {
  background-color:#eb3d0e;
}

#wrapper {
  margin:10px;
}

li.item {
  margin:25px 0 0 0;
  padding-bottom:25px;
  border-bottom:#e2e2e2 solid 1px;
}

.date {
  font-size:15px;
  margin-right:10px;
}

.content {
  color:#4d4d4d;
  white-space:pre-wrap;
  margin-top:10px;
  max-width:650px;
}
